# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Node.js (frontend)
node_modules/
.next/
.out/

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python (backend)
venv/
env/
__pycache__/
*.pyc

# Googleの認証キー（.jsonで終わるファイルすべて）
*.json

# 環境変数を書くファイル
.env

 # 音声ファイル
*.wav
*.mp3